ANTHROPIC_WORKSPACE_ID=wrkspc_xxx
ANTHROPIC_AGENT_ID=agent_xxx
ANTHROPIC_ENVIRONMENT_ID=env_xxx
ANTHROPIC_ENVIRONMENT_KEY=sk-ant-env-xxx
ANTHROPIC_WEBHOOK_SECRET=whsec_xxx
SLACK_BOT_TOKEN=xoxb-xxx
SLACK_SIGNING_SECRET=xxx
SANDBOX_IMAGE_ID=im-xxx
